@import "tailwindcss";

@font-face {
  font-family: "Geist";
  src: url("../assets/fonts/Geist-Variable.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

html,
body,
#root {
  width: 100%;
  overflow-x: hidden;
}

:root {
  /* Colors */
  --color-text: #222222;
  --color-bg: #F8F8F8;

  /* Typography */
  --font-sans: "Geist", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-sans);
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}